# Python
__pycache__/
*.py[cod]
*.class

# Virtual Environment
venv/
env/
.env/
.venv/

# IDE
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# Logs
*.log
